.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 250px;
	background-color: #333;
	color: #fff;
	transform: translateX(100%);
	transition: transform 0.3s ease-in-out;
	z-index: 999;
}
.sidebar.active {
	transform: translateX(0);
}
.sidebar .close-btn {
	font-size: 1.5rem;
	position: absolute;
	top: 10px;
	left: 10px;
	cursor: pointer;
}
.sidebar .navlist {
	margin-top: 50px;
}
.sidebar .nav-item {
	padding: 15px;
}
.sidebar .nav-link {
	color: #fff;
	text-decoration: none;
	font-size: 1.2rem;
}
.sidebar .nav-link:hover {
	text-decoration: underline;
}
#rov {
    font-size: 10rem;
    color: violet; 
    -webkit-text-stroke: 2px violet;
}

@media (max-width: 768px) {
    #rov {
        font-size: 5rem;
    }
}

@media (max-width: 456px) {
    #rov {
        font-size: 2rem;
    }
}

#btn_below {
	background-color: #fff; 
	color: #000; 
	border-radius: 50%; 
	border: 2px solid #000; 
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
	font-size: 1.5rem; 
}
